<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="topic">
       <insert id="saveTopic" useGeneratedKeys="true"
   	 	keyProperty="id">
   		 INSERT INTO topic( userkey, name,createdate)
    	 VALUES('1', #{name},NOW())
       </insert>
       
       <select id="selectTopic" resultType="com.example.demo.domain.Topic">
       	select a.id as id
	  		  ,a.name as name
      		  ,b.file_name as filename
      from topic a,webfile b
      where a.id=b.topickey
       </select>
       
</mapper>